//mixin start

@mixin block-title{
    font-family: 'ebrima', sans-serif  ;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

//mixin end

//fonts start

@font-face {
    font-family: 'ebrima';
    
    src: url('../fonts/ebrima.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'forte';
    
    src: url('../fonts/forte.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'minion';
    
    src: url('../fonts/minionPro-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

//fonts end

//common start

html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: 'minion';
    display: block;
    font-size: 16px;
    font-weight: 400;
}
a{  
    padding: 0;
    color: inherit;
    text-decoration: none;
    li{
        margin: 0;
    }
}

ul{
    padding: auto;
    li{
        margin-top: 0;
        text-decoration: none;
        list-style: none;
    }
}

.container{
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

// common end

//header start
.header{
    margin-bottom: 170px;
    padding-top: 10px;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}
.header__inner{
    
    nav{
        margin-bottom: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__title{
        text-align: start;
        font-family: 'forte';
        margin-bottom: 80px;
        color: #000;
        font-size: 48px;
        font-weight: 500;
        width: 40%;
        position: relative;
        z-index: 10; 
        &::after{
            content: '';
            width: 830px;
            height: 250px;
            position: absolute;
            background-image: url(../img/bg-blue.jpg.png);
            top: -70px;
            left: -70px;
            z-index: -5;
        }
        

    }
    .header__subtitle{
        width: 420px;
        line-height: 20px;
        font-size: 16px;
        margin-bottom: 40px;
    }
    .header__btn{
        a{
            font-size: 18px;
            padding: 20px 40px;
            background-color: #fff343;
            color: #000;
            border-radius: 4px;
            transition: all .3s;
            font-weight: 700;
            border: 2px solid rgba(255, 255, 255, 0);
        }
        a:hover{
            background-color: #e6e6e2;
            border: 2px solid rgba(0, 0, 0, 9);
        }
    }
    .header__logo__ul{
        display: flex;
        align-items: center;
        li{
            width: 150px;
            margin-left: 10px;
        }
        img{
            position: relative;
            background-color: #fff;
            padding: 13px 21px;
            border-radius: 30px;
            border: 2px solid #ffa481;
        }
        .header__logo{    
            font-size: 24px;
            font-weight: 700;
        }  
    }
    .header__menu__ul{
        display: flex; 
        li + li{
            margin-left: 50px;
        }
        .header__links{
            font-size: 24px;
            font-weight: 700;
            border-bottom: 2px solid rgba(255, 255, 255, 0);
            transition: all .3s;
            &:hover{
                border-bottom: 2px solid  #000;
            }
            
         }
        
    }
}

//header end

//features start

.features {
    &__title {
        @include block-title;

        margin-bottom: 70px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        &-item{
            text-align: center;
            transition: all .3s;
            &-img{
                margin-bottom: 25px;
            }
            &-t{
                font-family: 'ebrima';
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 25px;
            }
            &-st{
                margin-bottom: 90px;
                max-width: 190px;
            }
        }
        &-item:hover{
            transform: scale(1.1 , 1.1);
        }
    }
}

//features end

//about start

.about {
    background-image: url(../img/circles\ bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    padding: 75px 0;
    margin-bottom: 80px;
    &__title{
        @include block-title;

        margin-bottom: 80px;
    }
    &__content{
        display: flex;
        justify-content: space-around;
        &-text{
            width: 40%;
        }
        &-img{
            margin-top: -120px;
            margin-left: -80px;
        }
    }
}

//about end

//examples start

.examples {
    &__title{
        @include block-title;

        margin-bottom: 70px;
    }
    &__content{
        &-item{
            // width: 100%;
            display: flex !important;
            justify-content: space-around;
            margin: 0 auto;

            col-1{
                margin-right: 10px;
                
            }

            col-2{
                padding-left: 10px;
            }

            .examples__content-item-img{
                margin-top: 20px;
                img{
                    width: 620px;
                }
                
            }
            .col + .col{
                margin-left: 15px;
            }
           
        }
    }
}
.examples__title {
}
.examples__content {
}
.examples__content-item {
}

//exampples end


//stages start

.stages {
}
.stages__inner {
}
.stages__title {
}
.stages__content {
}
.stages__content-item {
}
.stages__big-number {
}
.stages__content-item-text {
}
.stages__item-text-t {
}
.stages__item-text-st {
}

//stages end


// discount start

.discount {
}
.discount__inner {
}
.discount__title {
}
.discount__content {
}
.discount__subtitle {
}
.discount__text {
}

//discount end

//contact start

.contact {
}
.contact__inner {
}
.contact__title {
}
.contact__content {
}
.contact__form {
}
.contact__socials {
}
.contact__subtitle-socials {
}
.contact__socials-items {
}
.contact__subtitle-email {
}
.contact__socials-item-e {
}
.contact__subtitle-phone {
}
.contact__socials-item-p {
}

//contact end

//foter start

.footer {
}
.footer__inner {
}
.footer__title {
}
.footer__rights {
}
.footer__socials {
}
.footer__socials-web {
}
.footer__socials-mail {
}
.footer__socials-tel {
}

//footer end