//mixin start

@mixin block-title{
    font-family: 'ebrima', sans-serif  ;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

//mixin end

//fonts start

@font-face {
    font-family: 'ebrima';
    
    src: url('../fonts/ebrima.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'forte';
    
    src: url('../fonts/forte.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'minion';
    
    src: url('../fonts/minionPro-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

//fonts end

//common start

html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: 'minion';
    display: block;
    font-size: 16px;
    font-weight: 400;
}
a{  
    padding: 0;
    color: inherit;
    text-decoration: none;
    li{
        margin: 0;
    }
}

ul{
    padding: auto;
    li{
        margin-top: 0;
        text-decoration: none;
        list-style: none;
    }
}

.container{
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

// common end

//header start
.header{
    margin-bottom: 170px;
    padding-top: 10px;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}
.header__inner{
    
    nav{
        margin-bottom: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__title{
        
        text-align: start;
        font-family: 'forte';
        margin-bottom: 80px;
        color: #000;
        font-size: 48px;
        font-weight: 500;
        width: 40%;
        position: relative;
        z-index: 10; 
        &::after{
            content: '';
            width: 830px;
            height: 250px;
            position: absolute;
            background-image: url(../img/bg-blue.jpg.png);
            top: -70px;
            left: -70px;
            z-index: -5;
        }   
    }
    .header__subtitle{
        margin-top: 150px;
        width: 420px;
        line-height: 20px;
        font-size: 16px;
        margin-bottom: 40px;
    }
    .header__btn{
        a{
            font-size: 18px;
            padding: 20px 40px;
            background-color: #fff343;
            color: #000;
            border-radius: 4px;
            transition: all .3s;
            font-weight: 700;
            border: 2px solid rgba(255, 255, 255, 0);
        }
        a:hover{
            background-color: #e6e6e2;
            border: 2px solid rgba(0, 0, 0, 9);
        }
    }
    .header__logo__ul{
        display: flex;
        align-items: center;
        li{
            width: 150px;
            margin-left: 10px;
        }
        img{
            position: relative;
            background-color: #fff;
            padding: 13px 21px;
            border-radius: 30px;
            border: 2px solid #ffa481;
        }
        .header__logo{    
            font-size: 24px;
            font-weight: 700;
        }  
    }
    .header__menu__ul{
        display: flex; 
        li + li{
            margin-left: 50px;
        }
        .header__links{
            font-size: 24px;
            font-weight: 700;
            border-bottom: 2px solid rgba(255, 255, 255, 0);
            transition: all .3s;
            &:hover{
                border-bottom: 2px solid  #000;
            }
            
         }
        
    }
}

//header end

//features start

.features {
    &__title {
        @include block-title;

        margin-bottom: 70px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        &-item{
            text-align: center;
            transition: all .3s;
            &-img{
                margin-bottom: 25px;
            }
            &-t{
                font-family: 'ebrima';
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 25px;
            }
            &-st{
                margin-bottom: 90px;
                max-width: 190px;
            }
        }
        &-item:hover{
            transform: scale(1.1 , 1.1);
        }
    }
}

//features end

//about start

.about {
    background-image: url(../img/circles\ bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    padding: 110px 0;
    margin-bottom: 80px;
    &__title{
        @include block-title;

        margin-bottom: 80px;
    }
    &__content{
        display: flex;
        justify-content: space-around;
        &-text{
            width: 40%;
        }
        &-img{
            margin-top: -120px;
            margin-left: -80px;
        }
    }
}

//about end

//examples start

.examples {
    &__title{
        @include block-title;

        margin-bottom: 70px;
    }
    &__content{
        position: relative;
        .slick-prev{
            font-size: 0;
            background-image: url(../img/arrow.jpg);
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            position: absolute;
            top: 509px;
            left: -100px; 
            transition: all .3s;
            cursor: pointer;
        }
        .slick-prev:hover{
            transform: scale(1.3, 1.3);
        }
        .slick-next{
            position: absolute;
            top: 500px;
            right: -100px;
            font-size: 0;
            background-image: url(../img/arrow\ копия.png);
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            transition: all .3s;
            cursor: pointer;
        }
        .slick-next:hover{
            transform: scale(1.3, 1.3);
        }
        .slick-dots{
            display: flex;
            font-size: 0;
            max-width: 14.1%;
            margin: 20px auto;
            button{
                background-color: #e3eaf0;
                width: 20px;
                height: 20px;
                border-radius: 50px;
                border: none; 
                cursor: pointer; 
                transition: all .3s;          
            }
            button:hover{
                background-color: #c3d4e2 ;
            }
            li + li{
                margin-left: 20px;
            }      
        }       
        &-item{
            display: flex !important;
            justify-content: space-around;
            margin: 0 auto;
            col-1{
                margin-right: 10px;           
            }
            col-2{
                padding-left: 10px;
            }
            .examples__content-item-img{
                margin-top: 20px;
                img{
                    width: 620px;
                }          
            }
            .col + .col{
                margin-left: 15px;
            }      
        }
    }
}
.slick-arrow{
    
    background-color: #fff;
    border: none;
}
//exampples end


//stages start

.stages {
    padding: 20px 0;
    background-image: url(../img/circles\ bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 100px;
    &__title{
        @include block-title;

        margin-top: 120px;
        margin-bottom: 70px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        margin:0 50px 100px 50px;
        &-item{
            display: flex;
            align-items: center;
            transition: all .3s;
            background-color: rgba( 255, 255, 255, .1);
            margin: 20px 0;
            padding: 10px;
            .stages__big-number{
                font-family: 'ebrima';
                font-size: 200px;
                margin-right: 20px;
                color: #e6e6e2;
                font-weight: 700;
            }
            .stages__content-item-text{
                .stages__item-text-t{
                    font-family: 'ebrima';
                    font-size: 18px;
                    font-weight: 700;
                    // width: 45%;
                    margin-bottom: 20px;
                    max-width: 300px;
                }
                .stages__item-text-st{
                    font-size: 16px;
                    max-width: 350px;
                }
            }
        }
        &-item:hover{
            transform: scale(1.1,1.1);
            background-color:  rgba(250, 250, 250, .6);
        }

    }
}
//stages end


// discount start

.discount {
    background-image: url(../img/bg_text.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    margin-bottom: 100px;
    &__title{
        @include block-title;

        margin-bottom: 70px;
    }
    &__content{
        width: 30%;
        margin: 0 auto;
        text-align: center;
        &-subtitle{
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 30px;
        }
        &-text{
            font-size: 16px;
            text-align: left;

        }
    }
}
//discount end

//contact start

.contact {
    &__title{
        @include block-title;

        margin-bottom: 60px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        &-form{
            input{
                display: block;
                border: none;
                border-bottom: 1px solid #b4c8e7;
                padding-bottom: 10px;
                outline: none;
                ::placeholder{
                    color: #000;
                    background-color: #000;
                }
            }
            input + input{
                margin-top: 30px;
            }
        }
    }
}


.contact__content {
}
.contact__form {
}
.contact__socials {
}
.contact__subtitle-socials {
}
.contact__socials-items {
}
.contact__subtitle-email {
}
.contact__socials-item-e {
}
.contact__subtitle-phone {
}
.contact__socials-item-p {
}

//contact end

//foter start

.footer {
}
.footer__inner {
}
.footer__title {
}
.footer__rights {
}
.footer__socials {
}
.footer__socials-web {
}
.footer__socials-mail {
}
.footer__socials-tel {
}

//footer end